$lightTurquoise : #a0d5d2;
$white: #ffffff;
$grey: #e4f3f6;
$turquoise: rgba(49,175,180);
$darkTurquoise: #006D77;
$black: #210a0b;
$yellow: #ffd401;
$light_yellow: #fcf5e1;
$lightOrange: #faebe4;
$orange :#f59c20;


