@import "./src/assets/fonts/font";
@import "./src/assets/colors/colorsPalette";

.logInRowContainer {
  display: flex;
  justify-content: space-around;

}
.contactUsContainer{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 93vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: $light_yellow;

}

.loginLogo {
  position: absolute;

}
.loginLogoContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 35%;
}