# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
trackeet-react-app/node_modules
trackeet-react-app/.pnp
trackeet-react-app/.pnp.js

# testing
trackeet-react-app/coverage

# production
trackeet-react-app/build

# misc
trackeet-react-app/.DS_Store
trackeet-react-app/.env.local
trackeet-react-app/.env.development.local
trackeet-react-app/.env.test.local
trackeet-react-app/.env.production.local

trackeet-react-app/npm-debug.log*
trackeet-react-app/yarn-debug.log*
trackeet-react-app/yarn-error.log*
trackeet-react-app/.idea/codeStyles/Project.xml
trackeet-react-app/.idea/*

# Chrome Extension
# dependencies
trackeet-chrome-extension/node_modules
trackeet-chrome-extension/.pnp
trackeet-chrome-extension/.pnp.js

# testing
trackeet-chrome-extension/coverage

# production
trackeet-chrome-extension/build

# misc
trackeet-chrome-extension/.DS_Store
trackeet-chrome-extension/.env.local
trackeet-chrome-extension/.env.development.local
trackeet-chrome-extension/.env.test.local
trackeet-chrome-extension/.env.production.local

trackeet-chrome-extension/npm-debug.log*
trackeet-chrome-extension/yarn-debug.log*
trackeet-chrome-extension/yarn-error.log*
trackeet-chrome-extension/.idea/codeStyles/Project.xml
trackeet-chrome-extension/.idea/*

node_modules/

trackeet-react-app/.eslintcache

__pycache__

.vscode/settings.json
backend/web-server/test_post.py
backend/.env
