.icon {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  color: #006d77;
}
.MuiChip-labelSmall{
  font-size: 18px !important;
  line-height: 1.6em;
  vertical-align: baseline;
  letter-spacing: 0.01px;
  text-align: start;
  overflow-wrap: break-word;
}