@import "./src/assets/fonts/font";
@import "./src/assets/colors/colorsPalette";

.headerLogin{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: $grey;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.loginTextContainer{

  width: 430px;

}

.loginText{
}
.bodyWithDemo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: white ;
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.airPlain{
  width: 950px;
  fill: $grey;
}
.demoPage{

  margin: 30px;
  width: 50%;

  >div{
    display: flex;
    height: 619px;
    border-radius: 8px;

  }

}

.ContactUsFormContainer{

  flex-direction: column;
  justify-content: center;
}
.logInRowContainer {
  margin: 16px;
  display: flex;
  justify-content: space-around;
}

.loginLogo {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}
.loginLogoContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 35%;
}
.contactUsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  flex-direction: row;
  background-color: $grey;

  width: 100%;
}

