@import "./src/assets/fonts/font";
@import "./src/assets/colors/colorsPalette";

.headerLogin{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: $grey;
  height: 1000px;
}

.loginTextContainer{

  width: 600px;

}



.airPlain{
  width: 950px;
  fill: $grey;
}


.bodyWithDemoContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: $grey ;

  height: 800px;

}
.demoBody{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 80vh!important;
  height: 500px;


}
.demoPage{

height: 80vh;
  >div{
    //display:block;
    //overflow:scroll;
    height: 400px!important;
    width:100%;
    border-radius: 8px;

  }

}

.ContactUsFormContainer{

  flex-direction: column;
  justify-content: center;
}
.logInRowContainer {
  display: flex;
  justify-content: space-around;
}

.loginLogo {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}

.loginLogoContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 35%;
}
.contactUsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  height: 1000px;

  flex-direction: row;
  background-color: $grey;

  width: 100%;
}

