.headerIcon{
    margin: 16px;
}
.logo{
    resizeMode: 'contain';
    width: 150px;

}
.logoContainer {
    padding: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.ToolBar {
        padding: 0px !important;;
}
