.headerIcon{
    margin: 16px;
}
.logo{
    resizeMode: 'contain';
    width: 150px;

}
.headerContainer {
    padding: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    display: flex;
    align-items: center;
    width: 50%;
}

.buttonsContainer{
    display: flex;
    justify-content: right;
}

.ToolBar {
        padding: 0px !important;;
}
