@import "./src/assets/styles/styles";
.board span {
  @extend .title;

  display: flex;
  justify-content: center;
}
.board header {
  display: flex;
  justify-content: center;
}
.kanbanContainer{
  margin-top: 67.89px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
