@import './src/assets/colors/colorsPalette';
@import './src/assets/styles/styles';
@import './src/assets/fonts/font';

.nonDetailedFormContainer {
  background-color: $white;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: $boarderRadius;
}

.nonDetailedFormHeader {
  margin: 8px;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $fontFamily;
}

.nonDetailedFormInputFields {
  height: 75%;
  width: 100%;
  display: flex;
  margin: 8px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.nonDetailedFormButtons {
  margin: 8px;
  height: 15%;
  width: 223px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
