@import "./src/assets/colors/colorsPalette";
@import "./src/assets/styles/styles";
@import "./src/assets/fonts/font";

.non-detailed-form-container {
  height: 400px;
  width: 140px;
  border-radius: $boarderRadius;

}
.form-container{
  display: flex !important; ;
  flex-direction: column;
  justify-content: center!important;
  align-items: center;
  width: 300px;
  height: 100%;

}
.non-detailed-form-header {
  width: 300px;
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.non-detailed-form-input-fields {
height: 340px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-items: center;

  margin-top: 10px;

}

.non-detailed-form-buttons {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  justify-content: flex-end;

}
