.non-detailed-form-container {
  border: 2px solid black;
  background-color: lightblue;
  margin-top: 40px;
  height: 400px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.non-detailed-form-header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.non-detailed-form-input-fields {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.non-detailed-form-buttons {
  height: 15%;
  width: 223px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
